<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- // favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#242424">
    <meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#242424">
    <!-- // favicon -->
    
    <title>WEB-Tetris</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main>
      <!-- // intro -->
      <section
        id="intro-container"
        class="default-container"
        data-container-index="0"
        data-disabled="1"
      >
        <div class="intro-wrap">
          <h1 class="intro-wrap__title">WEB-TETRIS</h1>
          <p id="preload-progress" class="intro-wrap__comment">
            <!-- Press To Start Game -->
            Loading... 00%
          </p>
        </div>
      </section>
      <!-- // intro -->

      <!-- // menu -->
      <section
        id="menu-container"
        class="default-container"
        data-container-index="1"
        data-disabled="0"
      >
        <div class="menu-wrap">
          <h1 class="menu-wrap__title">WEB-TETRIS</h1>
          <div class="menu-wrap__menuBox">
            <h2 class="menu-wrap__menuBoxTitle"><span>Menu</span></h2>
            <ul>
              <li
                class="selected"
                data-menu-article="Jump right into a game of Marathon with the default settings"
              >
                <button id="marathonModeBtn" type="button">
                  1P Play (Marathon)
                </button>
              </li>
              <!-- <li data-menu-article="menu 2">
                <button id="2pModeBtn" type="button">2P Play</button>
              </li> -->
              <li
                data-menu-article="Jump right into a game of Versus AI with the default settings"
              >
                <button id="vsAiModeBtn" type="button">Versus AI</button>
              </li>
            </ul>
            <ul>
              <li
                data-menu-article="Compare your ranking with people worldwide"
              >
                <button id="rankingPageBtn" type="button">Ranking</button>
              </li>
              <li data-menu-article="Change how the game controls and sounds">
                <button id="settingPageBtn" type="button">Settings</button>
              </li>
              <li
                data-menu-article="This menu is currently in the process of being activated and will be available soon"
              >
                <button id="changeLangBtn" type="button">Language</button>
              </li>
            </ul>
          </div>
          <p class="menu-wrap__article">
            Jump right into a game of Marathon with the default settings
          </p>
        </div>
      </section>
      <!-- // menu -->

      <!-- // setting -->
      <section
        id="setting-container"
        class="default-container"
        data-container-index="2"
        data-disabled="0"
      >
        <div class="setting-wrap">
          <h1 class="setting-wrap__title">Settings</h1>
          <div class="setting-wrap__menuBox">
            <h2 class="setting-wrap__menuBoxTitle"><span>Menu</span></h2>
            <div class="setting-wrap__menuBoxFrame">
              <!-- // 1P Key Binding -->
              <ul>
                <li
                  class="selected"
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Move Right</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Arrow Right</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Move Left</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Arrow Left</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Rotate Right</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Arrow Up</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Rotate Left</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Key Z</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Soft Drop</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Arrow Down</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Hard Drop</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Space</button>
                  </div>
                </li>
                <li
                  data-setting-article="Enter a key to change the key binding"
                >
                  <h3>Hold</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Key C</button>
                  </div>
                </li>
              </ul>
              <!-- // Default Key Binding -->

              <!-- // Sound Option -->
              <ul>
                <li
                  data-setting-article="Press the right and left arrows to change the value of the menu"
                >
                  <h3>Effect Volume</h3>
                  <div
                    class="setting-wrap__menuBoxBtn setting-wrap__menuBoxBtn--adjust"
                  >
                    <button type="button">-</button>
                    <span>100%</span>
                    <button type="button">+</button>
                  </div>
                </li>
                <li
                  data-setting-article="Press the right and left arrows to change the value of the menu"
                >
                  <h3>Music Volume</h3>
                  <div
                    class="setting-wrap__menuBoxBtn setting-wrap__menuBoxBtn--adjust"
                  >
                    <button type="button">-</button>
                    <span>100%</span>
                    <button type="button">+</button>
                  </div>
                </li>
                <li
                  data-setting-article="Press the right and left arrows to change the value of the menu"
                >
                  <h3>Music Type</h3>
                  <div
                    class="setting-wrap__menuBoxBtn setting-wrap__menuBoxBtn--adjust"
                  >
                    <button type="button">&#10094;</button>
                    <span>Type 1</span>
                    <button type="button">&#10095;</button>
                  </div>
                </li>
              </ul>
              <!-- // Sound Option -->

              <!-- // 1P Key Binding -->
              <!-- <ul>
                <li>
                  <h3>Move Right (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Right Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Move Left (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Left Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Rotate Right (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Up Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Rotate Left (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Z</button>
                  </div>
                </li>
                <li>
                  <h3>Soft Drop (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Down Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Hard Drop (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Space</button>
                  </div>
                </li>
                <li>
                  <h3>Hold (1P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">C</button>
                  </div>
                </li>
              </ul> -->
              <!-- // 1P Key Binding -->

              <!-- // 2P Key Binding -->
              <!-- <ul>
                <li>
                  <h3>Move Right (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Right Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Move Left (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Left Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Rotate Right (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Up Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Rotate Left (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Z</button>
                  </div>
                </li>
                <li>
                  <h3>Soft Drop (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Down Arrow</button>
                  </div>
                </li>
                <li>
                  <h3>Hard Drop (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">Space</button>
                  </div>
                </li>
                <li>
                  <h3>Hold (2P)</h3>
                  <div class="setting-wrap__menuBoxBtn">
                    <button type="button">C</button>
                  </div>
                </li>
              </ul> -->
              <!-- // 2P Key Binding -->
            </div>
          </div>
          <p class="setting-wrap__article">
            Enter a key to change the key binding
          </p>
        </div>
      </section>
      <!-- // setting -->

      <!-- // game -->
      <section
        id="game-container"
        class="default-container"
        data-container-index="3"
        data-disabled="0"
      >
        <!-- // Marathon Mode -->
        <div class="game-wrap">
          <div class="game-wrap__left">
            <div class="game-wrap__box game-wrap__hold">
              <p class="game-wrap__boxTitle">HOLD</p>
              <div></div>
            </div>
            <div class="game-wrap__box game-wrap__overview">
              <p class="game-wrap__boxTitle">OVERVIEW</p>
              <div></div>
            </div>
          </div>
          <div class="game-wrap__center">
            <canvas
              id="marathon-mode"
              class="game-wrap__mainGrid"
              width="360"
              height="720"
            ></canvas>
            <div class="game-wrap__timer">
              <p class="game-wrap__timerText">300ms</p>
              <div class="game-wrap__timerBar"></div>
            </div>
          </div>
          <div class="game-wrap__right">
            <div class="game-wrap__box game-wrap__next">
              <p class="game-wrap__boxTitle">NEXT</p>
              <div class="game-wrap__nextPreview"></div>
              <div class="game-wrap__nextList"></div>
            </div>
            <div class="game-wrap__pauseBtn">
              <button type="button">PAUSE(ESC)</button>
            </div>
          </div>
        </div>
        <!-- // Marathon Mode -->
      </section>
      <!-- // game -->
    </main>
    <!-- // define script -->
    <script type="module" src="/js/ui-common.js"></script>
    <script type="module" src="/js/game/tetris.js"></script>
    <!-- // define script -->
  </body>
</html>
