@charset "utf-8";

@import url('./reset.css');
@import url('./font.css');

html,
body,
main {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  background-color: #333;
  color: #fff;
}

.default-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.intro-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  padding: 60px 30px;

  border: 1px solid #ddd;
}
.intro-wrap__title {
  font-family: 'DOSMyungjo';
  font-size: 80px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  white-space: nowrap;
}
.intro-wrap__article {
  font-family: 'DOSMyungjo';
  font-size: 32px;
  font-weight: normal;
  color: #eee;
  text-align: center;
  word-break: keep-all;
}
