@charset "utf-8";

@import url('./reset.css');
@import url('./font.css');

:root {
  --brand-white: #fff;
  --grayscale-100: #ebebeb;
  --grayscale-200: #d4d4d4;
  --grayscale-300: #b8b8b8;
  --grayscale-400: #999999;
  --grayscale-500: #858585;
  --grayscale-600: #5a5a5a;
  --grayscale-700: #414141;
  --grayscale-800: #333333;
  --grayscale-900: #242424;
  --main-font-family: 'DOSMyungjo';
  --main-font-weight: normal;
  --font-size-100: 60px;
  --font-size-200: 48px;
  --font-size-300: 36px;
  --font-size-400: 28px;
  --font-size-500: 20px;
  --font-size-600: 16px;
  --font-size-700: 14px;
  --title-line-height: 1.2;
  --article-line-height: 1.4;
  --text-dissolve-animation: 1.2s text-dissolve infinite;
  --common-wrap-width: 480px;
  --common-wrap-height: 760px;
  --common-wrap-border: 2px solid var(--grayscale-500);
}

@keyframes text-dissolve {
  0% {
    opacity: 0.2;
  }
  36% {
    opacity: 1;
  }
  64% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

html,
body,
main {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--grayscale-900);
  color: var(--brand-white);
}

.default-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 20px;

  background-color: var(--grayscale-900);
}

.default-container[data-disabled='0'] {
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.default-container[data-disabled='1'] {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

/* intro */
.intro-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: var(--common-wrap-width);
  min-width: var(--common-wrap-width);
  max-width: var(--common-wrap-width);
  height: var(--common-wrap-height);
  padding: 160px 40px 200px;

  border: var(--common-wrap-border);
}
.intro-wrap__title {
  display: block;
  margin: 0px 0px 40px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-100);
  font-weight: var(--main-font-weight);
  color: var(--brand-white);
  text-align: center;
  white-space: nowrap;
}
.intro-wrap__comment {
  font-family: var(--main-font-family);
  font-size: var(--font-size-400);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-100);
  text-align: center;
  line-height: var(--article-line-height);
  word-break: keep-all;
}
.intro-wrap__comment.loaded {
  animation: var(--text-dissolve-animation);
  cursor: pointer;
}

/* menu */
.menu-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--common-wrap-width);
  min-width: var(--common-wrap-width);
  max-width: var(--common-wrap-width);
  height: var(--common-wrap-height);
  padding: 40px;

  border: var(--common-wrap-border);
}

.menu-wrap__title {
  display: block;
  margin: 0px 0px 40px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-200);
  font-weight: var(--main-font-weight);
  color: var(--brand-white);
  text-align: center;
  white-space: nowrap;
}

.menu-wrap__menuBox {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 60px 40px;

  border: 4px solid var(--grayscale-300);
}
.menu-wrap__menuBox ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}
.menu-wrap__menuBox ul + ul {
  margin: 100px 0px 0px;
}
.menu-wrap__menuBox ul li {
  display: block;
  width: auto;

  font-family: var(--main-font-family);
  font-size: var(--font-size-400);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);
  text-align: center;
  word-break: keep-all;

  cursor: pointer;
}
.menu-wrap__menuBox ul li + li {
  margin-top: 24px;
}
.menu-wrap__menuBox ul li.selected {
  position: relative;

  padding-left: 24px;

  color: var(--brand-white);

  animation: var(--text-dissolve-animation);
}
.menu-wrap__menuBox ul li.selected::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;

  display: block;
  width: 12px;
  height: 16px;
  margin: auto 0px;
  box-sizing: border-box;

  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid var(--brand-white);
}
.menu-wrap__menuBox ul li button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;

  border: none;
  background-color: transparent;
}

.menu-wrap__menuBoxTitle {
  position: absolute;
  z-index: 4;
  top: -18px;
  left: 0px;
  right: 0px;

  display: block;

  text-align: center;
}
.menu-wrap__menuBoxTitle span {
  padding: 4px 18px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-400);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);

  background-color: var(--grayscale-900);
}

.menu-wrap__article {
  display: block;
  margin: 40px 0px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-500);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-200);
  text-align: center;
  line-height: var(--article-line-height);
  word-break: keep-all;
}

/* settings */
.setting-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--common-wrap-width);
  min-width: var(--common-wrap-width);
  max-width: var(--common-wrap-width);
  height: var(--common-wrap-height);
  padding: 20px;

  border: var(--common-wrap-border);
}

.setting-wrap__title {
  display: block;
  margin: 0px 0px 32px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-300);
  font-weight: var(--main-font-weight);
  color: var(--brand-white);
  text-align: center;
  white-space: nowrap;
}

.setting-wrap__menuBox {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  max-height: 520px;
  padding: 16px 0px 0px;

  border: 4px solid var(--grayscale-300);
}

.setting-wrap__menuBoxTitle {
  position: absolute;
  z-index: 4;
  top: -18px;
  left: 0px;
  right: 0px;

  display: block;

  text-align: center;
}
.setting-wrap__menuBoxTitle span {
  padding: 4px 18px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-400);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);

  background-color: var(--grayscale-900);
}

.setting-wrap__menuBoxFrame {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
  max-height: 496px;
  padding: 0px 0px 24px;

  overflow-y: auto;
}

.setting-wrap__menuBoxFrame ul {
  display: block;
  width: 100%;
}
.setting-wrap__menuBoxFrame ul + ul {
  margin: 16px 0px 0px;
}
.setting-wrap__menuBoxFrame ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 8px 24px;
}
.setting-wrap__menuBoxFrame ul li.selected {
  background-color: var(--grayscale-100);
}
.setting-wrap__menuBoxFrame ul li h3 {
  font-family: var(--main-font-family);
  font-size: var(--font-size-500);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);
  word-break: keep-all;
}
.setting-wrap__menuBoxFrame ul li.selected h3 {
  color: var(--grayscale-700);
}
.setting-wrap__menuBoxBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 180px;
  max-width: 180px;
  height: 42px;
}
.setting-wrap__menuBoxBtn button {
  display: block;
  width: 100%;
  height: inherit;

  font-family: var(--main-font-family);
  font-size: var(--font-size-500);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);
  word-break: keep-all;

  border: 2px solid var(--grayscale-500);
  background-color: var(--grayscale-800);
}
.selected .setting-wrap__menuBoxBtn button {
  color: var(--grayscale-700);
  border-color: var(--grayscale-600);
  background-color: var(--grayscale-200);
}
.setting-wrap__menuBoxBtn--adjust button {
  width: 48px;
}
.setting-wrap__menuBoxBtn--adjust span {
  font-family: var(--main-font-family);
  font-size: var(--font-size-500);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-300);
}
.selected .setting-wrap__menuBoxBtn--adjust span {
  color: var(--grayscale-700);
}

.setting-wrap__article {
  display: block;
  margin: 40px 0px 20px;

  font-family: var(--main-font-family);
  font-size: var(--font-size-500);
  font-weight: var(--main-font-weight);
  color: var(--grayscale-200);
  text-align: center;
  line-height: var(--article-line-height);
  word-break: keep-all;
}

/* game */
.game-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: auto;
  height: var(--common-wrap-height);
  padding: 0px;
}
.game-wrap__box {
  border: var(--common-wrap-border);
  background-color: var(--grayscale-900);
}
.game-wrap__boxTitle {
  display: block;
  padding: 4px 6px;

  font-size: var(--font-size-600);
  font-weight: 700;
  color: var(--grayscale-900);

  background-color: var(--grayscale-500);
}
.game-wrap__left {
  width: 200px;
  font-size: 0px;
}
.game-wrap__center {
  width: 364px;
  margin: 0px 18px;
  font-size: 0px;
}
.game-wrap__right {
  width: 200px;
  font-size: 0px;
}

.game-wrap__hold {
  height: 240px;
  margin: 0px 0px 18px;
}

.game-wrap__overview {
  height: calc(100% - 258px);
}

.game-wrap__mainGrid {
  margin: 0px;
  border: var(--common-wrap-border);
}

.game-wrap__timer {
  position: relative;

  display: block;
  width: 100%;
  height: 20px;
  margin: 16px 0px 0px;

  border: var(--common-wrap-border);
}
.game-wrap__timerText {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;

  display: inline-block;
  margin: auto 0px;

  font-size: var(--font-size-700);
  font-weight: 700;
  line-height: 1;
  color: var(--grayscale-100);
}
.game-wrap__timerBar {
  width: 100%;
  height: 100%;

  background: rgb(90, 90, 90);
  background: linear-gradient(
    90deg,
    rgba(90, 90, 90, 1) 0%,
    rgba(184, 184, 184, 1) 100%
  );
}

.game-wrap__next {
  width: 100%;
  height: calc(100% - 80px);
  margin: 0px 0px 18px;
}
.game-wrap__nextPreview {
  width: 100%;
  height: 200px;
}
.game-wrap__nextList {
  height: calc(100% - 224px);

  border-top: var(--common-wrap-border);
}

.game-wrap__pauseBtn {
  width: 100%;
}
.game-wrap__pauseBtn button {
  width: 100%;
  height: 62px;

  font-size: var(--font-size-500);
  font-weight: 700;
  color: var(--grayscale-100);

  border: var(--common-wrap-border);
  background-color: var(--grayscale-700);
}
